* {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  background-color: #fefcf7;
}

body {

  background-color: white;

}

/* Grupo com logo + h1 */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 40px;
  height: auto;
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #316092;
  font-size: 24px;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

header nav li a {
  text-decoration: none;
  font-weight: 500;
  color: #4A4A4A;
  transition: color 0.3s;
  font-family: 'Open Sans', sans-serif;
}

header nav li a:hover {
  color: #EA6A3E;
}

main {

  display: flex;
  background-color: #f4eee5;

}

.website_apresentation {

display: flex;
flex-direction: column;
gap: 15px;
padding: 40px;
position: absolute;
margin-right: 50%;
}

.website_apresentation h1 {

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #1F3C88	;
  font-size: 40px;

}

.website_apresentation p {

  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #4A4A4A	;
  font-size: 18px;

}

.website_apresentation button {

  background-color: #f26b00;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.website_apresentation button:hover {
  background-color: #d85c00;
  cursor: pointer;
}

main img {

  height: 500px;
  width: auto;
  margin-left: 30%;
}

#divisao {

background-color: #e5d9c6;
width: 2000px;
height: 60px;
margin-top: -60px;

}
