* {
    margin: 0 auto;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff7ea;
    border-bottom: 1px solid #e5d9c6;
    
    
  }
  
  body {
  
    background-color: white;
  
  }
  
  /* Grupo com logo + h1 */
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }
  
  .logo img {
    width: 40px;
    height: auto;
  }

  .logo a{
    text-decoration: none;
    color: #316092;
  }
  
  header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #316092;
    font-size: 24px;
    
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  header nav li a {
    text-decoration: none;
    font-weight: 500;
    color: #4A4A4A;
    transition: color 0.3s;
    font-family: 'Open Sans', sans-serif;
  }
  
  header nav li a:hover {
    color: #EA6A3E;
  }

main {

display: flex;
flex-direction: column;
background-color: #f4eee5;
padding-top: 40px;
gap: 15px;
}


main h1 {

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #316092;
    font-size: 30px;
}

main img {

    max-width: 650px;

}

main p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #4A4A4A	;
    font-size: 18px;
    margin-bottom: 25px;
}

.suportbutton {

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    max-width: 300px;
    max-height: 210px;
    background-color: #fefcf7;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;


}

.suportbutton:hover {

  background-color: #d7d7d7;

}

.suportbutton:active {

  background-color: #b6b6b6;


}

.suportbutton h2 {

  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #4A4A4A;
  font-size: 25px;

}

.suportbutton img {

    min-width: 100px;

}

.suportbutton p {

  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  font-weight: 300;

}

#divisao {
  background-color: #e5d9c6;
  width: auto;
  height: 60px;
  border-top: 1px solid #d6cbb9;
  border-bottom: 1px solid #d6cbb9;
  }

.footer {
  background-color: #f4eee5;
  color: #4A4A4A;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 80px 20px;
}

.footer-content {
  display: flex;
  gap: 32px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #316092;
}

.footer-section {

display: flex;
flex-direction: column;;

}

.footer-section p,
.footer-section li,
.footer-section a {
  font-size: 15px;
  color: #4A4A4A;
  text-decoration: none;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section a:hover {
  color: #EA6A3E;

}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #e5d9c6;
  padding-top: 12px;
  font-size: 15px;
  background-color: #fff7ea;
  color: #4A4A4A;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5d9c6;
}

.footer-bottom a {
  color: #4A4A4A;}